!!! 5
html(ng-app)
	head
		title Emulsify
		link(rel="stylesheet", href="scripts/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="styles/app.css")
	body(ng-controller="Main.BodyCtrl")
		.container-fluid.machine(ng-controller="Machine.MachineCtrl")
			.row-fluid
				.span12
					h1 Emulsify
					button.btn.btn-primary(ng-click="step()") Step
			.row-fluid
				.span3
					h2 Registers:
					ng-include(src="'registers.html'")
				.span9
					h2 Memory:
					ng-include(src="'hex-editor.html'")

		script(src="scripts/lib/jquery/jquery-2.0.2.min.js")
		script(src="scripts/lib/bootstrap/js/bootstrap.min.js")
		script(src="scripts/lib/angularjs/angular.min.js", async)
		script(src="scripts/lib/closure/long.js", async)
		script(src="scripts/lib/peg.js/peg.min.js", async)
		script(src="scripts/grabber.js")
		script(src="scripts/machine.js")
		script(src="scripts/assembler.js")
		script(src="scripts/hex-editor.js")
		script(src="scripts/main.js")