!!! 5
html(ng-app)
	head
		title Emulsify
		link(rel="stylesheet", href="styles/app.css")
		script(src="scripts/lib/angularjs/angular.min.js")
		script(src="scripts/machine.js")
		script(src="scripts/main.js")
	body(ng-controller="Main.BodyCtrl")
		#container
			.machine(ng-controller="Machine.MachineCtrl")
				input(type="button", value="Step", ng-click="step()")
				{{reg[0]}}
				h2 Registers:
				table
					thead
						tr
							td Register Number
							td Value
					tbody
						tr(ng-repeat="rn in range(reg.length)")
							td {{rn}}
							td {{reg[rn]}}
			