.regs
	table.table.table-bordered.table-hover
		thead
			tr
				td Name
				td Value
				td Name
				td Value
		tbody
			tr
				td PC
				td {{getPC()}}
				td
				td
			tr
				td HI
				td {{HI[0]}}
				td LO
				td {{LO[0]}}
			tr(ng-repeat="rn in range(reg.length/2)")
				td {{Register[rn]}}
				td {{reg[rn]}}
				td {{Register[rn+reg.length/2]}}
				td {{reg[rn+reg.length/2]}}